<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Inicio</title>
    <link rel="stylesheet" href="style-inicio.css" />
  </head>
  <body>
    <section>
      <div>
        <form method="post" action="{% url 'inicio' %}">
          {% csrf_token %} {{ formulario_django.as_p }}
          <button type="submit">Iniciar Sesión</button>
        </form>
      </div>
      <div>
        <button><a href="{% url 'registrarse' %}">Registrarse</a></button>
      </div>
    </section>
  </body>
</html>
