<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tareas</title>
    <link rel="stylesheet" href="style-tareas.css" />
  </head>
  <body>
    <table>
      <thead>
        <tr>
          <th>NOMBRE</th>
          <th>DESCRIPCION</th>
          <th>ESTADO</th>
        </tr>
      </thead>
      <!-- un bucle que improme las tareas por filas-->
      {%for tarea in tarea_all%}
      <tr>
        <th>{%tarea.name}</th>
        <th>{%tarea.descripcion}</th>
        <th><input type="checkbox" name="estado" id="fila" /></th>
      </tr>
      {%endfor%}
    </table>
    <div>
      <label for="Agregar nueva tarea"></label>
      <input type="checkbox" name="checkbox_agregar_tarea" id="agg" />
    </div>
    <div>
      <form action="" method="post">
        {%csrf_token%}{{formulario_tarea}}
        <p>hola</p>
      </form>
    </div>
  </body>
</html>
