<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tareas</title>
    <link rel="stylesheet" href="style-tareas.css" />
  </head>
  <body>
    <table>
      <thead>
        <tr>
          <th>NOMBRE</th>
          <th>DESCRIPCION</th>
          <th>ESTADO</th>
        </tr>
      </thead>
      <!-- un bucle que improme las tareas por filas-->
      {%for tarea in tarea_all%}
      <tr>
        <th>{%tarea.name}</th>
        <th>{%tarea.descripcion}</th>
        <th><input type="checkbox" name="estado" id="fila" /></th>
      </tr>
      {%endfor%}
    </table>
    <div><a href="{% url 'nueva_tarea'%}">Agregar nueva tarea</a></div>
    <div><a href="{% url 'delete_tarea'%}">Eliminar tarea</a></div>
  </body>
</html>
