<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tareas</title>
    <link rel="stylesheet" href="style-tareas.css" />
  </head>
  <body>
    <table>
      <thead>
        <tr>
          <th>NOMBRE</th>
          <th>DESCRIPCION</th>
          <th>ESTADO</th>
        </tr>
      </thead>
      <!-- un bucle que improme las tareas por filas-->
      {%for tarea in tarea_all%}
      <tr>
        <td>{{tarea.nombre}}</td>
        <td>{{tarea.descripcion}}</td>
        <td>{% if tarea.estado %}Completada{%else%}Pendiente{% endif %}</td>
        <td>
          <form method="post" action="{% url 'tarea' %}">
            {% csrf_token %}
            <input type="hidden" name="tarea_id" value="{{ tarea.id }}" />
            <button type="submit">
              {% if tarea.estado %}Descompletar{% else %}Completar{% endif %}
            </button>
          </form>
        </td>
        <td>
          <form method="post" action="{% url 'delete_tarea' %}">
            {% csrf_token %}
            <input type="hidden" name="tarea_id" value="{{ tarea.id }}" />
            <button type="submit">Eliminar</button>
          </form>
        </td>
      </tr>
      {%endfor%}
    </table>
    <div>
      <form action="{%url 'nueva_tarea'%}">
        <button type="submit">Agregar tarea</button>
      </form>
    </div>
    <div></div>
  </body>
</html>
