html{
    background-image: url(img/yamamoto.jpg);
}

table{
    margin: 0 auto;
    border: 2px solid transparent;
    transition: border 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 3px 5px 5px black;
    border-radius: 15px;
}   

table:hover {
    box-shadow: 0 0 15px transparent;
}

table thead tr{
    font-family: Impact;
    text-shadow: 5px 5px 5px rgb(255, 179, 0);
    text-decoration: underline dotted rgba(160, 84, 3, 0.788);
    color: rgb(0, 0, 0);
    font-size: 40px;
}

tr td{
    font-family:'Lucida Sans';
    padding: 15px;
    text-transform: capitalize; 
    color: rgba(255, 196, 0, 0.749);
    font-size: 20px;
}

#segundoth{
    padding-left: 15px;
}

#tercerth{
    padding-left: 15px;
}

#segundotd{
    padding-left: 15px;
    color: rgba(255, 221, 0, 0.925);
}

#tercertd{
    padding-left: 15px;
    color: yellow;
}

button{
    background-color: transparent;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

button:hover{
    transform: translateX(1px);
    box-shadow: 1px 1px black;
}

div form button{
    margin-left: 46%;
    margin-top: 30px;
    padding: 10px 50px;
    transition: box-shadow 3s ease;
    cursor: pointer;
    border-radius: 0.5rem;
    background: transparent;
    transition: 0.3s;
    color: black;
    background: linear-gradient(135deg, #7a3300b5, #ffaa00f3);
}
div form button:hover{
    transform: translateY(-2px);
    box-shadow: 10px 10px 10px black;
}

.completar:hover{
    text-shadow: 5px 5px 5px rgb(47, 255, 0);
}

.eliminar:hover{
    text-shadow: 5px 5px 5px red;
}